.hero{
height: calc(100vh - 100px);
background: linear-gradient(180deg, #0c0c1d, #550378);
position: relative;

.wrapper{
max-width: 1366px;
height: 100%;
margin: auto;

.textContainer{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

   h2{
    font-size: 30px;
    color: #ff32f8a6;
    letter-spacing: 5px;
   }
   h1{
    font-size: 58px;
   } 
   button{

    padding: 20px;
    border:  1px solid #e419fad7;
    border-radius: 30px;
    background-color:#f9f9f9de;
    color: #e419fad7;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;


   }
    img{
        width: 50%;
        
    }

   
}
}
.imageContainer{
height: 100%;
position: absolute;
top: 0;
right: 0;
max-width: 100%;
    height: auto; 
    
}
.slidingTextContainer{
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    color: #ffffff09;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;

}

}

@media (max-width: 1264px) {
    .imageContainer{

    display: none;
    }
    .textContainer{
        width: auto;
        text-align: center;
        
    }
    
  }